﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/css/avira-custom.css" rel="stylesheet" />
<script src="~/assets/plugins/jquery/jquery-3.3.1.min.js"></script>
<script src="~/assets/js/page-table-manage.demo.min.js"></script>
<script src="~/App/region.js"></script>

<div id="content" class="content">
    <h3>Region Segment:</h3>
    <div class="section-container section-with-top-border">
        <div class="row">
            <div class="col-md-10">
                <a class="btn btn-default btn-xs btn-rounded p-l-10 p-r-10  " style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("addEditRegion","Home")')"><i class="fa fa-plus"></i> Add New Country</a>
            </div>
        </div>
        <!-- begin panel -->
        <div class="panel pagination-inverse m-b-0 clearfix">
            <table id="data-table" data-order='[[1,"asc"]]' class="table table-bordered table-hover">
                <thead>
                    <tr class="inverse">
                        <th>Region Name</th>
                        <th>Region Label</th>
                        <th>Parent Region</th>
                        <th>Name</th>
                        <th>Id</th>
                    </tr>
                </thead>
            </table>
        </div>
        <!-- end panel -->
    </div>

    <div id="footer" class="footer">
        <span class="pull-right">
            <a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
                <i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
            </a>
        </span>
        &copy; 2018 <b>Source Admin</b> All Right Reserved
    </div>
    <!-- end #footer -->
</div>